body { 
	display: grid;
	grid-template-areas: 
    " header header"
    "section section2"
    "section3 section4"
    "footer footer";
	grid-template-rows: 80px 1fr  1fr 50px;
	grid-template-columns: 1fr 1fr;
	grid-gap: 5px;
  height: 100vh;
  margin-left: 150px;  
  margin-left: 150px;
}

header {
	grid-area: header;
}

.section {
	background: #ABABAB;
	grid-area: section;    
}

.section2 {
	background: #ABABAB;
	grid-area: section2;    
}

.section3 {
	background: #ABABAB;
	grid-area: section3;    
}

.section4 {
	background: #ABABAB;
	grid-area: section4;    
}

footer {
	background: #707070;
	grid-area: footer;
}

header, nav, section, aside, footer, section2 {
	padding: 5px;
}header{
	text-align: center;
}
.Monlogo {
	height: 69px;
	display: block;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 30px;
}

.separateur{
	opacity: 0.5;
}

.imggauche{
	max-height: 300px;
	max-width: auto;
}
h1{
	text-align: center;
	font-size: 17px;
	display: inline-block;
    margin: 0 auto;
    border-bottom: 2px solid #6786a1;
    padding: 5px
}

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 040px;
    grid-row-gap: 040px;
}








.LinkedIN {
	height: 25px;
	margin-left: 1%;
	margin-top: 20px;
}
.ligne_au_dessus_footer{
margin-top: 60px;
margin-bottom: 60px;
}
footer {
	padding-bottom: 10px;
	color: white;
	background-color: rgb(80, 94, 128);
	bottom:0;
	width: 100%;
	text-align: center;
}
/*
@media (min-width:600px) {


body{
	grid-template-areas: 
	 "header"
	 "footer";
	 grid-template: 60px 1fr 1fr 60px / 1fr 1fr 1fr 1fr;
	}

}
*/